* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    height: 100%; 
    overflow: hidden; 
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f2f2f2;
    background-color: #121212;
    background-image: url(img/peakpx.jpg);
    background-position: center;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute; 
    width: 100%;
    z-index: 10; 
    backdrop-filter: blur(5px);
    top: 0; 
}
.header .logo, h1 {
    font-size: 3em;
    color: #ff003c;
    text-shadow: 
        0 0 5px #ff003c, 
        0 0 10px #ff003c, 
        0 0 20px #ff003c, 
        0 0 40px #ff003c, 
        0 0 80px #ff003c;
    animation: flicker 1.5s infinite alternate;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', sans-serif; 
    position: relative;
}


@keyframes flicker {
    0% { 
        opacity: 1;
        text-shadow: 0 0 5px #ff003c, 0 0 10px #ff003c, 0 0 20px #ff003c, 0 0 40px #ff003c, 0 0 80px #ff003c;
    }
    50% { 
        opacity: 0.8;
        text-shadow: 0 0 3px #ff003c, 0 0 6px #ff003c, 0 0 15px #ff003c, 0 0 30px #ff003c, 0 0 60px #ff003c;
    }
    100% { 
        opacity: 1;
        text-shadow: 0 0 5px #ff003c, 0 0 10px #ff003c, 0 0 20px #ff003c, 0 0 40px #ff003c, 0 0 80px #ff003c;
    }
}
.header .logo, h1::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 0, 60, 0.6), transparent);
    animation: lightPass 2s infinite;
}

@keyframes lightPass {
    0% { left: -100%; }
    100% { left: 100%; }
}


.header h1 {
    color: #ffffff;
    font-size: 20pt;
    text-shadow: 0 0 10px #ff003c, 0 0 20px #ff003c;
}

.nav a {
    color: #f2f2f2;
    margin: 0 15px;
    font-size: 22px;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px; 
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #ff003c; 
}


.nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ff003c; 
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.37); 
    z-index: 1; 
}
.hero h2, .hero p {
    position: relative;
    z-index: 2; 
}

.hero h2 {
    font-size: 3em;
    color: #ff003c;
    text-shadow: 0 0 30px #000000;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 30px;
    text-shadow: 0 0 20px #ff003c;
}
.contacto {
    padding: 10px 10px;
    text-align: center;
    color: #f2f2f2;
    background-color: #1f1f1f;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    margin: 90px auto;
    max-width: 500px;
}

.contacto h2 {
    font-size: 3rem;
    color: #ff003c;
    text-shadow: 0 0 10px #ff003c;
    margin-bottom: 20px;
    font-family: "Bebas Neue", sans-serif;
}

.contacto p {
    font-size:12pt;
    margin-bottom: 10px;
}

.form-group {
    margin: 5px;
    text-align: left;
}

.form-group label {
    font-size: 12pt;
    color: #f2f2f2;
    margin-top: 40px;
    display: block;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    resize: none;
    background-color: #333;
    color: #f2f2f2;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 12pt;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #ff003c; 
    outline: none;
}

textarea {
    resize: vertical;
}

.btn-enviar {
    background-color: #ff003c;
    color: #f2f2f2;
    padding: 10px 20px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-enviar:hover {
    background-color: #e60035;
    transform: scale(1.05); 
}

.btn-enviar:active {
    transform: scale(0.95); 
}

.contacto {
    animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
