* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    height: 100%; 
    overflow: hidden; 
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f2f2f2;
    background-color: #121212;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute; 
    width: 100%;
    z-index: 10; 
    backdrop-filter: blur(5px); 
    top: 0; 
}
.header .logo, h1 {
    font-size: 3em;
    color: #ff003c;
    text-shadow: 
        0 0 5px #ff003c, 
        0 0 10px #ff003c, 
        0 0 20px #ff003c, 
        0 0 40px #ff003c, 
        0 0 80px #ff003c;
    animation: flicker 1.5s infinite alternate;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', sans-serif; 
    position: relative;
}


@keyframes flicker {
    0% { 
        opacity: 1;
        text-shadow: 0 0 5px #ff003c, 0 0 10px #ff003c, 0 0 20px #ff003c, 0 0 40px #ff003c, 0 0 80px #ff003c;
    }
    50% { 
        opacity: 0.8;
        text-shadow: 0 0 3px #ff003c, 0 0 6px #ff003c, 0 0 15px #ff003c, 0 0 30px #ff003c, 0 0 60px #ff003c;
    }
    100% { 
        opacity: 1;
        text-shadow: 0 0 5px #ff003c, 0 0 10px #ff003c, 0 0 20px #ff003c, 0 0 40px #ff003c, 0 0 80px #ff003c;
    }
}
.header .logo, h1::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 0, 60, 0.6), transparent);
    animation: lightPass 2s infinite;
}

@keyframes lightPass {
    0% { left: -100%; }
    100% { left: 100%; }
}

/* Logo del Header */
.header h1 {
    color: #ffffff;
    font-size: 20pt;
    text-shadow: 0 0 10px #ff003c, 0 0 20px #ff003c;
}

.nav a {
    color: #f2f2f2;
    margin: 0 15px;
    font-size: 22px;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px; 
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #ff003c; 
}


.nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ff003c; 
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.nav a:hover::after {
    transform: scaleX(1); 
    transform-origin: bottom left;
}



.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/vj48h5hjntxa1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh; 
    color: #f2f2f2;
    text-align: center;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.678); 
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.37); 
    z-index: 1;  
}
.hero h2, .hero p {
    position: relative;
    z-index: 2; 
}

.hero h2 {
    font-size: 3em;
    color: #ff003c;
    text-shadow: 0 0 30px #000000;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 30px;
    text-shadow: 0 0 20px #ff003c;
}

.cta-button {
    padding: 12px 25px;
    background-color: #ff003c;
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    border-radius: 30px;
    transition: background-color 0.3s;
    z-index: 2;
}

.cta-button:hover {
    background-color: #ff3366;
}



.grid {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.image {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    height: 250px;
    background-color: #333;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.image:hover img {
    transform: scale(1.05);
}

.image:hover {
    box-shadow: 0 0 10px #ff003c, 0 0 20px #ff003c;
}


.footer {
    background-color: #121212;
    text-align: center;
    padding: 20px;
    color: #fff;
    font-size: 0.9em;
}


@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .header h1 {
        font-size: 1.5rem; 
    }


    .nav {
        display: none;
        flex-direction: column;
        gap: 15px;
        margin-top: 20px;
    }

    .nav a {
        font-size: 1.2rem;
    }


    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .menu-toggle span {
        background-color: #fff;
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s;
    }


    .nav.active {
        display: flex;
    }


    .menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg);
        position: relative;
        top: 8px;
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg);
        position: relative;
        top: -8px;
    }
}

@media (min-width: 769px) {
    .nav {
        display: flex;
    }

    .menu-toggle {
        display: none; 
    }
}
